<%= form_tag sessions_path do %>
  <h2>Ingresa los datos de logueo</h2>
  <hr/>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :placeholder => "E-mail" %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :placeholder => "Password" %>
  </div>

  <div class="field">
  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me, nil, :class => "checkbox inline" %>
  </div>

  <div class="actions"><%= submit_tag "Log in", :class => "btn btn-primary" %></div>
<% end %>