<%= nested_form_for(@adoption_pet, :html => { :multipart => true, :class => "clearfix" }) do |f| %>
  <% if @adoption_pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.translate "activerecord.errors.messages.record_invalid", errors: @adoption_pet.errors.count %></h2>
      <ul>
        <% @adoption_pet.errors.full_messages.each do |msg| %>
          <li>* <%= msg %>.</li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Ingresa el perfil de la mascota</h2>

  <%= f.fields_for :pet do |pet_form| %>
    <div class="span5px">
      <fieldset>
      	<h3>Contacto*</h3>
      	<hr/>
        <%= pet_form.fields_for :pet_contact do |contact_form| %>
          <%= contact_form.label "Nombre" %>
          <%= contact_form.text_field :name,  :placeholder => 'Nombre del contacto'  %>
          <%= contact_form.label "Email" %>
          <%= contact_form.text_field :email, :placeholder => 'E-mail'  %>
          <%= contact_form.label "Teléfono" %>
          <%= contact_form.text_field :phone, :placeholder => 'Teléfono fijo' %>
          <%= contact_form.label "Celular" %>
          <%= contact_form.text_field :mobile, :placeholder => 'Celular' %>
       	<% end %>
      </fieldset>

      <fieldset id="primary">
        <h3>Información básica*</h3>
        <hr />
        <%= f.label "Perro", :for => "adoption_pet_pet_attributes_animal_valueperro",:class => 'display' %>
        <%= pet_form.radio_button :animal, "Perro" %>
        <%= f.label "Gato", :for => "adoption_pet_pet_attributes_animal_valuegato", :class => 'display' %>
        <%= pet_form.radio_button :animal, "Gato" %>        
        <%= f.label "Nombre" %>
        <%= pet_form.text_field :name, :placeholder => 'Nombre del animal'  %>
        <select name="age" id="age" style="height: 30px;width: 47%;">
          <option value="" selected>Seleccione Edad</option>
          <option value="Cachorro">Cachorro</option>
          <option value="Joven">Joven</option>
          <option value="Adulto">Adulto</option>
        </select>
        <%= f.label "Raza" %>
        <%= pet_form.text_field :breed, :placeholder => 'Raza' %>
        <%= f.label "Edad" %>
        <%= pet_form.hidden_field :age, :value => ''%>
        <input id="adoption_pet_age" placeholder="Edad (Opcional)" 
          class="numbersOnly" maxlength="2" type="text" style="width: 18%; margin: 0; min-width: 20px;">
        <select name="agelist" id="agelist" style="height: 30px;width: 26%;">
          <option value="Años">Años</option>
          <option value="Meses">Meses</option>
          <option value="Días">Días</option>
        </select>
        <%= f.label "Macho", :for => "adoption_pet_pet_attributes_animal_valueperro", :class => 'display' %>
        <%= pet_form.radio_button :gender, "Macho" %>
        <%= f.label "Hembra", :for => "adoption_pet_pet_attributes_animal_valuegato", :class => 'display' %>
        <%= pet_form.radio_button :gender, "Hembra" %>
      </fieldset>

      <fieldset>
        <h3>Ubicación*</h3>
        <hr />
        <%= f.label "Municipio" %>
        <%= pet_form.text_field :municipality, :placeholder => 'Municipio' %>
        <%= f.label "Ubicación" %>
        <%= pet_form.text_field :location, :placeholder => 'Barrio o zona' %>        
      </fieldset>

      <% if logged_in? %>
        <fieldset>
          <h3>Estado</h3>
          <hr/>
          <%= f.label "Estado" %>
          <%= f.select :status, 
              options_for_select(AdoptionPet::STATES.map{|s| [s.humanize,s]}) %>     
        </fieldset>
      <% end %>
 
    </div>

    <div class="span5px">

      <fieldset id="more">
        <h3 class="pull-left">Cuéntanos más (opcional)</h3>        
        <span class="countdown_adoption_pet_pet_attributes_story pull-right"></span>
        <hr />
        <%= f.label "Historia de la mascota" %>
        <%= pet_form.text_area :story, :placeholder => 'Historia de la mascota (notas adicionales)', :rows => 3, :maxlength => 450%>
      </fieldset>

      <fieldset>

        <h3 class="pull-left">Salud (opcional)</h3>
        <span class="countdown_adoption_pet_temperament pull-right"></span>
        <hr />
        <%= f.label "Vacunado?", :for => "adoption_pet_vaccines", :class => 'display' %>
        <%= f.check_box :vaccines  %>

        <%= f.label "Esterilizado?", :for => "adoption_pet_neutered", :class => 'display' %>
        <%= f.check_box :neutered %>
        <%= f.label "Describa el temperamento de la mascota" %>        
        <%= f.text_area :temperament, :placeholder => 'Describa el temperamento de la mascota', :rows => 3, :maxlength => 450 %>
      </fieldset>

      <div class="picture">
        <h3>Fotografías* (al menos una)</h3>
        <hr/>
        <% if @adoption_pet.new_record? %>
          <%= pet_form.fields_for :pictures do |picture_form|  %>
            <p>
              <%= picture_form.label :file, "Fotografía" %>
              <%= picture_form.file_field :file %>
              <%= picture_form.link_to_remove "Eliminar esta foto", :class => 'erase' %>
            </p>
          <% end %>
          <%= pet_form.link_to_add "Agregar otra foto", :pictures, :class => 'add' %>
        <% else %>
          <% @adoption_pet.pictures.each do |p| %>
            <%= image_tag p.file.thumbnail.url %>
          <% end %>
        <% end %>
      </div>
  <% end %>
    </div>

  <%= f.submit "Publicar mascota", :class => 'btn btn-primary' %>
<% end %>

