
  <%= nested_form_for(@adoption_pet, :html => { :multipart => true, :class => "clearfix" }) do |f| %>
    <% if @adoption_pet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@adoption_pet.errors.count, "error") %> prohibited this adoption_pet from being saved:</h2>

        <ul>
          <% @adoption_pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= f.fields_for :pet_attributes, @adoption_pet.pet do |pet_form| %>
  <div class="span5px">
 	 <fieldset>
	 <h3>Contacto</h3>	 
	 <hr />
         <%= pet_form.fields_for :pet_contact_attributes do |contact_form| %>
         	<%= contact_form.label "Nombre" %>
         	<%= contact_form.text_field :name,  :placeholder => 'Nombre del contacto'  %>
           	<%= contact_form.label "Email" %>
           	<%= contact_form.text_field :email, :placeholder => 'Email'  %>
          	<%= contact_form.label "Teléfono" %>
           	<%= contact_form.text_field :phone, :placeholder => 'Teléfono fijo' %>
           	<%= contact_form.label "Celular" %>
           	<%= contact_form.text_field :mobile, :placeholder => 'Celular' %>
 	    <% end %>  
	 </fieldset>
  
      <fieldset id="primary">
        
        <h3>Información básica</h3>
        <hr />
          
          <%= f.label "Perro", :class => 'display' %>
          <input type="radio" value="Perro" name="animal">
          <%= f.label "Gato", :class => 'display' %>         
          <input type="radio" value="Gato" name="animal">
          <%= f.label "Nombre" %>
          <%= pet_form.text_field :name, :placeholder => 'Nombre del animal'  %>
          <%= f.label "Edad" %>
          <%= pet_form.text_field :age,:placeholder => 'Edad (aproximada)'  %>
      
      </fieldset>
      
      <fieldset>
        
        <h3>Ubicación</h3>
        
        <hr /> 
        
          <%= f.label "Ubicación" %>
          <%= pet_form.text_field :location, :placeholder => 'Nombre del animal' %>
          <%= f.label "Notas adicionales" %>
          <%= pet_form.text_field :notes, :placeholder => 'Notas adicionales' %>
  
      </fieldset>
	  
	  
      <fieldset id="look"> 
        
        <h3>Apariencia</h3>
        
        <hr />
		
		<div class="picture">
		
    		<%= pet_form.fields_for :pictures, Picture.new do |picture_form|  %>
    		<%= picture_form.label :file %>
    		<%= picture_form.file_field :file %>
     		 <% end %>
    		<%= pet_form.link_to_add "Agregar otra foto", :pictures, :class => 'add' %>
     		<%= pet_form.fields_for :pictures, Picture.new do |picture_form|  %>
     		<%= picture_form.link_to_remove "Eliminar esta foto", :class => 'erase' %>
      
          <% end %>
		</div>  
  
          <%= f.label "Tamaño" %>
          <%= pet_form.text_field :size, :placeholder => 'Tamaño' %>
          <%= f.label "Raza" %>
          <%= pet_form.text_field :breed, :placeholder => 'Raza' %>
          <%= f.label "Color" %>
          <%= pet_form.text_field :color,:placeholder => 'Color' %>
          <%= f.label "Marcas" %>
          <%= pet_form.text_area :marks, :placeholder => 'Marcas distintivas' %>
      
      </fieldset>
     
	</div>	
	
	<div class="span5px"> 
	  
     <fieldset id="more">
       
       <h3>Cuéntanos más</h3>
       
       <hr />
       
          	<%= f.label "Historia de la mascota" %>
 		  	<%= pet_form.text_area :story, :placeholder => 'Historia de la mascota', :rows => 3 %>        

             
     </fieldset>

    <fieldset>
      
      <h3>Salud</h3>
      
      <hr />
        <%= f.label "Vacunado?", :class => 'display' %>
        <%= f.check_box :vaccines  %>
        <%= f.label "Esterilizado?", :class => 'display'  %>
        <%= f.check_box :neutered %>
        <%= f.label "Describa el temperamento de la mascota" %>
        <%= f.label "Le gustan los niños?", :class => 'display'  %>
        <%= f.check_box :like_kids %>   
        <%= f.text_area :temperament, :placeholder => 'Describa el temperamento de la mascota', :rows => 3 %>
  
     </fieldset>
  	 <% end %>  
      
	</div>  
	  
    <%= f.submit "Publicar mascota", :class => 'btn btn-primary' %>
<% end %>

