
<li>

  <div class="single_post">
    <div class="overlay" >
      <%= link_to "Click aquí para más información", adoption_pet_path(pet.slug), class: "overlay", :title => "Click aquí para más información."  %>
      <%= image_tag pet.pictures.first.file.index.url, width: "243", alt: "Vista previa de la foto de una mascota en adopción" %>
    </div>
    <h3><i class="<%= pet.gender == "macho" ? "gender male" : "gender female" %>"></i> <%= link_to pet.name, adoption_pet_path(pet.slug)%></h3>
    <span><p><b><%=pet.age.split[0]%></b> <%=pet.age.split[1]%></p></span> 
  </div>

  <div style="text-align: center">
    <% if logged_in? %>
      <%= link_to "Edit", edit_adoption_pet_path(pet.slug)%> || <%= link_to "Delete", adoption_pet_path(pet.slug), method: :delete, data: { confirm: 'Are you sure? There is no go back and pet is gone forever :(' } %> || <%= " #{pet.status.humanize}."%>
    <% end %>
  </div>

</li>
