<li>
  <div class="single_post">
    <div class="overlay">
      <%= link_to "Click aquí para más información", adoption_pet_path(pet), class: "overlay" %>
      <% pet.pictures.each do |pic| %>
        <%= image_tag pic.file.thumbnail.url, width: "243", alt: "Vista previa de la foto de una mascota en adopción" %>
      <% end %>
    </div>
    <h3><%= pet.name %></h3>

    <ul>
      <li>
        <i class="male_icon"></i><p>Macho</p>
        <i class="female_icon" style="display: none"></i ><p style="display: none">Hembra</p>
      </li>
      <li>
        <i class="age_icon"></i><p>2 Años</p>
      </li>
      <li>
        <i class="ubication_icon"></i><p>Bello</p>
      </li>
      <li>
        <i class="date_icon"></i><p>04/05/14</p>
      </li>
    </ul>

    <div style="text-align: center">
    <% if logged_in? %>
      <%= link_to "Edit", edit_adoption_pet_path(pet)%> || <%= link_to "Delete", adoption_pet_path(pet), method: :delete, data: { confirm: 'Are you sure? There is no go back and pet is gone forever :(' } %>
    <% end %>
    </div>
  </div>
</li>
