<h1>Listing adoption_pets</h1>

<table>
  <tr>
    <th>Perro/Gato</th>
    <th>Nombre</th>
    <th></th>
  </tr>

<% @pets.each do |adoption_pet| %>
  <tr>
    <td><%= adoption_pet.pet.animal %></td>
    <td><%= adoption_pet.pet.name %></td>
    <td><%= link_to 'Show', adoption_pet %></td>
    <td><%= link_to 'Edit', edit_adoption_pet_path(adoption_pet) %></td>
    <td><%= link_to 'Destroy', adoption_pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adoption pet', new_adoption_pet_path %>
