<%= previous_pet_link(@adoption_pet) %>
<%= next_pet_link(@adoption_pet) %>

<div class="div_left">
  <figure>
    <%= image_tag @adoption_pet.pictures.first.file.url %>
  </figure>
  <div class="small_pics"></div>
</div>

<div class="div_info">
  <h2 class="pet_name">
    <%= @adoption_pet.name %>
  </h2>

  <ul>
    <span>
      <li>
        <p><b>Sexo: </b><%= @adoption_pet.gender %></p>
      </li>
      <li>
        <p><b>Edad: </b><%= @adoption_pet.age %></p>
      </li>
      <li>
        <p><b>Raza: </b><%= @adoption_pet.breed %></p>   
      </li>
      <li>
        <p>
          <b>Vacunas: </b>
            <%= check_box_tag 'vaccines', 'vaccines', @adoption_pet.vaccines, disabled: true%>
          <b>Esterilizado: </b>
            <%= check_box_tag 'neutered', 'neutered', @adoption_pet.neutered, disabled: true%>
        </p>
      </li>
      <li>
        <p><b>Ciudad - Municipio: </b>
          <%= @adoption_pet.municipality %></p>      
      </li>
      <li>
        <p><b>Barrio - Zona: </b>
          <%= @adoption_pet.location %></p>      
      </li>
    </span>
    <li>
      <p><b>Salud y temperamento:</b> <%= @adoption_pet.temperament  %></p>
    </li>
    <li>
      <p><b>Notas Adicionales:</b> <%= @adoption_pet.story  %></p>
    </li>
  </ul>

  <span class="social">
    <p>Compartir:</p>
    <a id="share_pet_on_fb"><i class="facebook_icon"></i></a>
    <a id="share_pet_on_twitter" title="@adoptamedellin busca un hogar para esta mascota."><i class="twitter_icon"></i></a>
  </span>
  
  <%= link_to 'Regresar', adoption_pets_path, :id => 'back' %>

</div>

<div id="adoption_form" class="div_left" >
    <h4>Adopta esta mascota</h4>
    <%= form_for @interested_contact do |f| %>
      <%= hidden_field_tag :adoption_pet_id, @adoption_pet.id %>
      <%= f.label "Tu nombre:" %>
      <%= f.text_field :name %>
      <%= f.label "Tu E-mail:" %>
      <%= f.text_field :email %>
      <%= f.label "Tu teléfono:" %>
      <%= f.text_field :phone %>
      <%= f.button "Adoptar", :class => 'btn btn-primary pull-right' %>
      <div class="errors"></div>
    <% end %>
</div>

<div id="friend_adoption_recommend" class="div_right">
    <h4>Sugiere esta mascota a un amigo</h4>
    <%  if @friend_mailer.errors.any? %>
      <div id="error_explanation">
        <h2><%= I18n.translate "activerecord.errors.messages.record_invalid", errors: @friend_mailer.errors.count %></h2>
        <ul>
          <% @friend_mailer.errors.full_messages.each do |msg| %>
            <li>* <%= msg %>.</li>
          <% end %>
        </ul>
      </div>
      <br>
    <% end %>    
    <%= form_for @friend_mailer, :url => adoption_pet_recommend_path(@adoption_pet) do |friend_mailer_form|%>
      <%= friend_mailer_form.label "Tu nombre:" %>
      <%= friend_mailer_form.text_field :name %>
      <%= friend_mailer_form.label "El nombre de tu amigo:" %>
      <%= friend_mailer_form.text_field :friend_name %>
      <%= friend_mailer_form.label "E-mail de tu amigo:" %>
      <%= friend_mailer_form.text_field :friend_email %>
      <%= submit_tag "Sugerir", :class => 'btn btn-primary pull-right blue' %>
    <% end %>
</div>


<% if logged_in? %>
  <%= link_to 'Edit', edit_adoption_pet_path(@adoption_pet) %> | <%= link_to "Delete", adoption_pet_path(@adoption_pet), method: :delete, data: { confirm: 'Are you sure? There is no go back and pet is gone forever :(' } %>
<% end %>
<br />

<p class="alert_info">Recuerda, al dar click en adoptar te comprometes a adsf y qwerty, asegurate de estar de acuerdo con todos los miembros de tu familia antes de iniciar el proceso de adopción.</p>

