<p id="notice"><%= notice %></p>

<% @adoption_pet.pictures.each do |pic| %>
  <%= image_tag pic.file.url %>
<% end %>

<p>
  <b>Perro/Gato:</b>
  <%= @adoption_pet.animal %>
</p>

<p>
  <b>Name:</b>
  <%= @adoption_pet.name %>
</p>

<p>
  <b>Vaccines:</b>
  <%= @adoption_pet.vaccines %>
</p>

<p>
  <b>Neutered:</b>
  <%= @adoption_pet.neutered %>
</p>

<p>
  <b>Temperament:</b>
  <%= @adoption_pet.temperament %>
</p>

<p>
  <b>Like kids:</b>
  <%= @adoption_pet.like_kids %>
</p>

<div>
  <button id="adoptme">Adoptame!</button>
</div>

<div id="adoption_form">
  <%= form_for([@adoption_pet, @interested_contact]) do |f| %>
  <%= f.label "Nombre" %>
  <%= f.text_field :name %>

  <%= f.label "Email" %>
  <%= f.text_field :email %>

  <%= f.label "Teléfono" %>
  <%= f.text_field :phone %>

  <%= f.button "Enviar" %>
  <% end %>
</div>

<%= form_tag adoption_pet_recommend_path(@adoption_pet) do %>
  <%= label_tag "name", "Tu nombre" %>
  <%= text_field_tag "name" %>
  <%= label_tag "friend_name", "El nombre de tu amigo:" %>
  <%= text_field_tag "friend_name" %>
  <%= label_tag "friend_email", "Email de tu amigo:" %>
  <%= text_field_tag "friend_email" %>
  <%= submit_tag "Enviar" %>
<% end %>

<% if logged_in? %>
  <%= link_to 'Edit', edit_adoption_pet_path(@adoption_pet) %> | <%= link_to "Delete", adoption_pet_path(@adoption_pet), method: :delete, data: { confirm: 'Are you sure? There is no go back and pet is gone forever :(' } %>
<% end %>
<br />
<%= link_to 'Back', adoption_pets_path %>
