<%= previous_pet_link(@adoption_pet) %>
<%= next_pet_link(@adoption_pet) %>

<div class="div_left">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="<%= hide_element_single_photo(@adoption_pet) %> ">
      <% @adoption_pet.pictures.each_with_index { |p, index| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <%= "class = #{'active'}" if index == 0 %> ></li>
      <% } %>
    </ol> 

    <div class="carousel-inner" >
      <% @adoption_pet.pictures.each_with_index { |p, index| %>
        <div class="<%= index == 0 ? 'item active' : 'item' %>"><%= image_tag p.file.show.url %> </div>
      <% } %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" 
        style="<%= hide_element_single_photo(@adoption_pet) %> "></a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" 
        style="<%= hide_element_single_photo(@adoption_pet) %>"></a>
  </div>
</div>

<div class="div_right div_info">
  <h2 class="pet_name">
    <%= @adoption_pet.name %>
  </h2>

  <ul>
    <span>
      <li>
        <p><b>Sexo: </b><%= @adoption_pet.gender.titleize %></p>
      </li>
      <li>
        <p><b>Edad: </b><%= @adoption_pet.age %></p>
      </li>
      <li>
        <p><b>Raza: </b><%= @adoption_pet.breed.titleize %></p>   
      </li>
      <li>
        <p>
          <b>Vacunas: </b>
            <i id="vaccines" class='<%= "#{@adoption_pet.vaccines}" %>' ></i>
          <b>Esterilizado: </b>
            <i id="neutered" class='<%= "#{@adoption_pet.neutered}" %>' ></i>
        </p>
      </li>
      <li>
        <p><b>Ciudad: </b>
          <%= @adoption_pet.municipality.titleize %></p>      
      </li>
      <li>
        <p><b>Barrio: </b>
          <%= @adoption_pet.location %></p>      
      </li>
    </span>
    <li>
      <p><b>Salud y temperamento:</b> <%= @adoption_pet.temperament  %></p>
    </li>
    <li>
      <p><b>Notas Adicionales:</b> <%= @adoption_pet.story  %></p>
    </li>
  </ul>

  <span class="social">
    <p>Compartir:</p>
    <a id="share_pet_on_fb"><i class="facebook_icon"></i></a>
    <a id="share_pet_on_twitter" title="Esta mascota busca un hogar en @AdoptaMedellin, visita su perfil y adoptala!"><i class="twitter_icon"></i></a>
  </span>  

</div>

<div id="adoption_form" class="div_left" >
    <h4>Adopta esta mascota</h4>
    <%= form_for @interested_contact do |f| %>
      <%= hidden_field_tag :adoption_pet_id, @adoption_pet.id %>
      <%= f.label "Tu nombre:" %>
      <%= f.text_field :name %>
      <%= f.label "Tu E-mail:" %>
      <%= f.text_field :email %>
      <%= f.label "Tu teléfono:" %>
      <%= f.text_field :phone %>
      <%= f.button "Quiero adoptar!", :class => 'btn btn-primary pull-right' %>
      <div class="errors"></div>
    <% end %>
</div>

<div id="friend_adoption_recommend" class="div_right">
    <h4>Sugiere esta mascota a un amigo</h4>
    <%  if @friend_mailer.errors.any? %>
      <div id="error_explanation">
        <h2><%= I18n.translate "activerecord.errors.messages.record_invalid", errors: @friend_mailer.errors.count %></h2>
        <ul>
          <% @friend_mailer.errors.full_messages.each do |msg| %>
            <li>* <%= msg %>.</li>
          <% end %>
        </ul>
      </div>
      <br>
    <% end %>    
    <%= form_for @friend_mailer, :url => adoption_pet_recommend_path(@adoption_pet) do |friend_mailer_form|%>
      <%= friend_mailer_form.label "Tu nombre:" %>
      <%= friend_mailer_form.text_field :name %>
      <%= friend_mailer_form.label "El nombre de tu amigo:" %>
      <%= friend_mailer_form.text_field :friend_name %>
      <%= friend_mailer_form.label "E-mail de tu amigo:" %>
      <%= friend_mailer_form.text_field :friend_email %>
      <%= submit_tag "Sugerir", :class => 'btn btn-primary pull-right blue' %>
    <% end %>
</div>

<%= link_to 'Regresar', adoption_pets_path, :id => 'back' %>

<% if logged_in? %>
  <%= link_to 'Edit', edit_adoption_pet_path(@adoption_pet) %> | <%= link_to "Delete", adoption_pet_path(@adoption_pet), method: :delete, data: { confirm: 'Are you sure? There is no go back and pet is gone forever :(' } %>
<% end %>


