<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path("favicon.ico") %>"/>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/responsive.css.scss"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "AdoptaMedellín" %></title>
    <%= csrf_meta_tags %>

    <!-- Le imported fonts -->
    
    <link href='http://fonts.googleapis.com/css?family=Nobile:400,400italic,700' rel='stylesheet' >    

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>
  <body>
    <div class="container">
      <header class="masthead">
        <%= link_to(image_tag(asset_path("adopta_medellin_logo.png")), root_path) %>
        <nav>
          <ul class="nav nav-pills pull-right">
            
            <li class="<%= 'active' if current_page? root_path %>"><%= link_to "Inicio", root_path  %></li>
            <li class="<%= 'active' if current_page? faq_path %>"><%= link_to "Preguntas", faq_path  %></li>
            <li class="<%= 'active' if current_page? contact_path %>"><%= link_to "Nosotros", "/contact"  %></li>
            <% if logged_in? %>
              <li><%= link_to "Logout", logout_path  %></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <% if current_user %>
        <h6>Hey <%= "#{current_user.email}" %>!, remember you're logged as administrator.
        </h6>
      <% end %> 
      <hr />

        <div class="well clearfix">
          <%= render partial: "shared/flash_messages", flash: flash %> 
          <%= yield %>
        </div>


      
    </div> <!-- /container -->
    <footer>
      <div class='container'>
        <h4>AdoptaMedellín cuenta con el apoyo de:</h4>
        <ul>
          <li><img src="/assets/animalvet.png">Animal Vet</li>
        </ul>
        <p>Hecho en Medellín - Colombia por 
          <a href="http://www.acadavid.me" target="_blank">Alejandro</a> , 
          <a href="http://www.anacristina.co" target="_blank">Ana</a>, 
          <a href="https://twitter.com/anmarguti" target="_blank">Andrés</a> y
          <a href="https://twitter.com/CristianBacon" target="_blank">Cristian</a>.</p>
      </div>  
    </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '779316982116757',
          xfbml      : true,
          version    : 'v2.2',
          status     : true, 
          cookie     : true, 
          xfbml      : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/es_LA/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
      window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs")); 
    </script>    
  </body>
</html>
